.top {
	background-image: url(images/background-blue.svg);
	background-position: top left;
	background-repeat: no-repeat;
	background-size: cover;
}
.container {
}
.top__content {
	padding: 190px 0 206px;
}
.top__content-title {
}
.top__content-text {
}
.btn {
}
.top__images {
}